:root {
  --primary-color: #55928c;
  --text-color: #333333;
  --accent-color: #007f7f;
  --project-section-background: #fafafa;
  --highlight-color: #9900ff;
  --background-color: #f5f5f5;
  --primary-font: "Wix Madefor Display", sans-serif;
  --secondary-font: "Montserrat", sans-serif;
  --cursive-font: "Kaushan Script", cursive;
}

body {
  font-family: Wix Madefor Display;
  background: #f5f5f5;
}

h1 {
  font-size: 85px !important;
  color: var(--primary-color) !important;
  font-style: var(--secondary-font) !important;
}

h2 {
  font-size: 35px !important;
}

p {
  font-size: 25px;
}

nav a {
  color: #f5f5f5 !important;
}

.nav-link:hover {
  text-decoration: underline;
}

.hero {
  text-align: center;
  color: var(--text-color) !important;
  padding-top: 150px !important;
  padding-bottom: 80px;
}

.hero-btn {
  background: var(--primary-color) !important;
  padding: 20px !important;
  font-size: 22px !important;
  margin-top: 30px;
}

.hero-link {
  text-decoration: none !important;
  color: white;
}

.description {
  text-align: left;
  padding: 30px 20px 30px 40px !important;
  line-height: 1.8;
}

.project-heading {
  font-weight: bold;
  font-size: 20px;
}

.col-sm-3 {
  width: 30% !important;
  margin: 10px;
  text-align: center;
}

.weather-column {
  margin-left: 50px;
}

.project-btn {
  display: block;
  margin-left: 40px;
  background: var(--accent-color);
  border: transparent;
  color: white;
}

.home-about-me {
  text-align: center;
}

.home-about-me div {
  font-size: 45px;
  font-weight: bold;
}

.home-about-me p {
  margin: 115px;
  margin-top: 10px;
  margin-bottom: 10px;
}

li a {
  text-decoration: none;
}

li a:hover {
  color: var(--accent-color) !important;
  text-decoration: underline;
}

.connect {
  font-size: 20px;
  font-weight: bold;
}

@media (max-width: 992px) {
  .col-sm-3 {
    width: 70% !important;
    margin: 40px auto;
    text-align: center;
  }
  .description {
    text-align: left;
    padding: 20px 30px 20px 44px !important;
    margin-bottom: 5px;
  }

  h1 {
    font-size: 68px !important;
  }

  h2 {
    font-size: 30px !important;
  }

  p {
    font-size: 22px;
  }
}

@media (max-width: 576px) {
  .col-sm-3 {
    width: 80% !important;
    margin: 40px auto;
    text-align: center;
  }
  .description {
    text-align: left;
    padding: 10px 10px 10px 15px !important;
  }

  .project-btn {
    margin-left: 10px;
  }

  .hero {
    padding-bottom: 0;
  }

  h1 {
    font-size: 34px !important;
  }

  h2 {
    font-size: 21px !important;
  }

  p {
    font-size: 16px;
  }
}
