:root {
  --main-color: #0e5468;
  --secondary-color: #7c2529;
  --accent-color: #007f7f;
  --btn-hover-color: #367588;
  --text-color: #39393a;
  --secondary-text: #012638;
  --project-section-background: #fafafa;
  --background-color: #f5f5f5;
  --primary-font: "Wix Madefor Display", sans-serif;
  --secondary-font: "Montserrat", sans-serif;
}

body {
  font-family: var(--primary-font);
  background: #f5f5f5;
}

h1 {
  font-size: 85px !important;
  color: var(--secondary-color) !important;
  font-style: var(--secondary-font) !important;
}

h2 {
  font-size: 35px !important;
  color: var(--secondary-text);
}

p {
  font-size: 25px;
  color: var(--secondary-text);
}

nav a {
  color: #f5f5f5 !important;
}

.nav-link:hover {
  text-decoration: underline;
}

.hero {
  text-align: center;
  padding-top: 150px !important;
  padding-bottom: 80px;
}

.homepage-btn,
.app-btn {
  background: var(--main-color) !important;
  padding: 20px !important;
  font-size: 22px !important;
  margin-top: 30px;
  transition: all 200ms ease-in-out;
}

.homepage-btn:hover {
  background: var(--btn-hover-color) !important;
  font-size: 23px !important;
}

.homepage-link,
.netlify-link {
  text-decoration: none !important;
  color: white;
}

.home-projects {
  margin: 5px auto !important;
}

.col-sm-3 {
  width: 31% !important;
  margin-left: 14px;
  text-align: center;
}

.project-description {
  text-align: left;
  padding: 30px 20px 30px 40px !important;
  line-height: 1.8;
  color: var(--text-color);
}

.project-heading {
  font-weight: bold;
  font-size: 20px;
  color: var(--secondary-text);
}

.portfolio-phone {
  margin-top: 8px;
}

.croissant {
  margin-top: 28px;
}

.responsive-btn {
  margin-top: 30px !important;
}

.project-btn {
  display: block;
  margin-left: 40px;
  background: var(--secondary-color);
  border: transparent;
  transition: all 200ms ease-in-out;
}

.project-btn:hover {
  border: 2px solid #893a3e;
  background: rgb(65, 12, 12);
}

.project-btn a {
  color: white;
}

.home-about-me {
  text-align: center;
}

.home-about-me div {
  font-size: 45px;
  font-weight: bold;
  color: var(--secondary-text);
}

.home-about-me p {
  margin: 115px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: var(--text-color);
}

li a,
.project-btn a,
.contact a,
.contact-social-link {
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
  color: var(--secondary-color) !important;
  font-weight: bold;
}

.connect {
  font-size: 20px;
  font-weight: bold;
  color: var(--secondary-color);
  text-decoration: underline;
}

.about-intro {
  margin-left: 50px;
}

.about-intro h1 {
  font-size: 60px !important;
  margin-top: 90px !important;
  color: var(--secondary-text) !important;
}

.about-page,
.experience,
.education {
  margin-left: 40px !important;
}

.about-page h2,
.experience h2,
.education h2 {
  font-size: 50px !important;
  color: var(--secondary-text);
}

.about-intro h3,
.experience h3,
.education h3 {
  color: var(--secondary-color) !important;
}

.about-page p,
.skill-description {
  font-size: 20px !important;
}

.profile {
  background: var(--secondary-text);
  margin-top: -50px;
  box-shadow: 5px 5px 5px rgb(211, 210, 210);
}

.experience,
.education {
  margin-bottom: 80px;
  margin-right: 40px;
}

.projects-intro {
  text-align: center;
  margin-top: 120px !important;
}

.projects-intro h1 {
  font-size: 60px !important;
}

.projects-intro h3,
.contact-intro h3 {
  color: var(--secondary-text);
}

.app-heading {
  font-size: 25px;
  margin-top: 12px;
  margin-bottom: 15px;
  color: var(--secondary-color);
}

.app-description {
  font-size: 20px;
}

.app-btn:hover {
  border: 2px solid var(--accent-color) !important;
  background: var(--secondary-text) !important;
}

.contact-page {
  margin-bottom: 100px;
}

.contact-intro {
  margin-left: 100px !important;
  margin-top: 120px !important;
}

.contact-col {
  background-color: rgb(255 255 255 / 0.3);
  backdrop-filter: blur(20px);
}

.contact h2,
.name h2 {
  color: white;
}

.contact p {
  font-size: 20px;
}

.name p {
  color: var(--secondary-text);
}

.contact a {
  color: var(--secondary-text);
}

.contact a:hover {
  text-decoration: underline;
  color: var(--accent-color);
}

.social-link {
  font-size: 16px !important;
}

.contact-social-link:hover {
  text-decoration: underline;
  color: var(--accent-color) !important;
  font-weight: bold;
  font-size: 18px;
}

.icons,
.icon {
  color: var(--main-color);
}

@media (max-width: 992px) {
  .col-sm-3 {
    width: 70% !important;
    margin: 40px auto;
    text-align: center;
  }
  .project-description {
    text-align: left;
    padding: 20px 30px 20px 44px !important;
    margin-bottom: 5px;
  }

  h1 {
    font-size: 68px !important;
  }

  h2,
  .home-intro {
    font-size: 30px !important;
  }

  p {
    font-size: 22px;
  }

  .home-intro-paragraph {
    font-size: 18px;
    line-height: 2;
    text-align: left;
  }

  .col-sm-8 {
    width: 50% !important;
    margin-left: 0 !important;
  }

  .col-sm-4 {
    width: 50% !important;
    margin-left: 0 !important;
  }

  .col-sm-4 img {
    margin-left: 0 !important;
    padding: 0 !important;
    margin-top: 90px !important;
  }
  .contact p {
    font-size: 16px;
}

@media (max-width: 576px) {
  h1 {
    font-size: 34px !important;
  }

  h2 {
    font-size: 21px !important;
  }

  p {
    font-size: 16px;
    line-height: 2;
  }

  .col-sm-3 {
    width: 80% !important;
    margin: 40px auto;
    text-align: center;
  }

  .hero {
    padding-bottom: 0;
  }

  .project-heading {
    font-size: 18px;
  }

  .project-description {
    text-align: left;
    padding: 10px 10px 10px 15px !important;
    font-size: 15px;
    line-height: 2;
  }

  .project-btn {
    margin-left: 10px;
  }

  .home-about-me p {
    margin: 10px;
  }

  .home-intro-paragraph {
    font-size: 16px;
    padding: 8px;
  }

  .about-intro h1 {
    font-size: 40px !important;
  }

  .project-col {
    width: 80% !important;
    margin: 40px auto;
    text-align: center;
  }

  .col-sm-4 img {
    margin: 0 auto !important;
    margin-bottom: 30px !important;
  }

  .contact-intro {
    margin-left: 30px !important;
  }

  .contact-intro h3 {
    font-size: 18px !important;
  }

  div .contact-column {
    width: 85% !important;
    margin: 0 auto;
    padding: 10px !important;
  }

  .contact {
    width: 100%;
    margin-left: -30px;
  }

  .contact h2 {
    font-size: 19px !important;
  }

  .contact p {
    font-size: 11px;
  }
}
